<div class="container">
  <%= form_for(@profile) do |f| %>
      <% if @profile.errors.any? %>
          <h5><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h5>
          <ul>
            <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, autocorrect: "off", autocapitalize:"words" %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :gender %><br>
        <%= f.select :gender, options_for_select(Profile::VALID_GENDERS, @profile.gender) %>
      </div>
      <div class="field">
        <%= f.label :birthday %><br>
        <%= f.date_select :birthday, start_year: 1901, end_year: 2001 %>
      </div>
      <div class="field">
        <%= f.label :city %><br>
        <%= f.text_field :city%>
      </div>
      <div class="field">
        <%= f.label :state %><br>
        <%= f.select :state, options_for_select(us_states) %>
      </div><br />
      <div class="actions">
        <%= f.submit class: 'btn btn-md btn-primary' %>
      </div>
  <% end %>
</div>