<!DOCTYPE html>
<html>
<head>
  <title>Luvnotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navigation">
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <%= image_tag("LuvNotes.jpg") %>
    </div>
    <div class="col-md-offset-6 col-md-2 col-xs-6">
      <% if user_signed_in? %>
        <%= link_to "LOG OUT", destroy_user_session_path, :method => 'delete', :class => 'btn btn-default nav-login-btn' %>
      <% else %>
        <%= link_to "LOG IN", new_user_session_path, :class => "btn btn-default nav-login-btn" %>
      <% end %>
    </div>
  </div>
</div>

<%= flash_messages %>
<%= yield %>

</body>
</html>
